* {
    font-family: 'Merriweather', serif;
    font-size: 12px;
}

header {
    background-color: #2E3944;
    color: #fff;
}

header h1 {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    margin: 0;
}

input {
    background-color: #EFF0F1;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 15px;
}

button[type="submit"] {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #53BBB4;
    border-radius: 5px;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    padding: 15px 20px;
    border: 2px solid #EFF0F1;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #EFF0F1;
    color: #C7C7C7;
}

form select {
    font-size: 12px;
}

input:focus {
    border: 2px solid #2E3944;
}

input::placeholder {
    text-align: right;
    font-size: 10px;
}

legend {
    font-size: 15px;
    margin-bottom: 30px;
}

i {
    color: #C7C7C7;
}

footer {
    padding-bottom: 200px;
}

.intro-text {
    padding-top: 30px;
}

.intro-text h2 {
    font-size: 15px;
    color: #2E3944;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.intro-text p {
    color: #C7C7C7;
}

.additional-topics {
    margin-bottom: 30px;
}


/*Helper*/

.text-centered {
    text-align: center;
}

.page-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.newsletter-input {
    margin-bottom: 20px;
    display: flex;
}

.newsletter-input label {
    margin-left: 15px;
}

