* {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    box-sizing: border-box;
}

header {
    background-color: #2E3944;
    color: #fff;
}

header h1 {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    margin: 0;
}

input {
    background-color: #EFF0F1;
}

button[type="submit"] {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #53BBB4;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    padding: 15px 20px;
    border: 2px solid #EFF0F1;
    border-radius: 5px;
    background-color: #EFF0F1;
    color: #C7C7C7;
    font-size: 20px;
    width: 100%;
    transition: border 0.2s;
    outline: none;
}

form select {
    font-size: 12px;
    margin-bottom: 20px;
    height: 50px;
}

input:focus {
    border: 2px solid #2E3944;
}

input::placeholder {
    text-align: right;
    font-size: 10px;
}

legend {
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 30px;
    display: none;
    text-align: center;
}

i {
    color: #C7C7C7;
}

footer {
    padding-bottom: 200px;
}

form {
    display: flex;
    flex-direction: column;
    border-top: 4px solid #2E3944;
}

.form-wrapper {
    background-color: yellowgreen;
}

.form-wrapper fieldset {
    padding: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-color: #2E3944;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.intro-text {
    padding-top: 30px;
}

.intro-text h2 {
    font-size: 15px;
    color: #2E3944;
}

.intro-text p {
    color: #C7C7C7;
    margin-bottom: 35px;
}

.text-centered {
    text-align: center;
}

.page-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.newsletter-input {
    margin-bottom: 20px;
    display: flex;
}

.newsletter-input label {
    margin-left: 15px;
    margin-bottom: 15px;
}

.contact-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.newsletter-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.newsletter-textarea textarea {
    min-height: 100px;
}

.contact-input label,
.newsletter-textarea label {
    margin-bottom: 15px;
}

.contact-fieldset,
.newsletter-fieldset {
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.input-small-size {
    max-width: 150px;
}

@media (min-width: 768px) {
    .contact-input {
        display: flex;
        flex-direction: row;
    }

    .contact-input label {
        flex-basis: 20%;
        padding-top: 20px;
    }

    .contact-input input {
        max-width: 450px;
    }

    .contact-input .input-small-size {
        max-width: 150px;
    }

    .contact-input select {
        width: 100%;
        max-width: 450px;
    }
}